<div class="row">
	<div class="col-12">  
		<h2 class="page-header">Page d'accueil</h2>
		<% if (user) { %>
			<p>Bienvenue sur votre portail <%=user %></p> 
		<% } else {  %>
			<p>Bienvenue sur votre portail Inconnu</p> 
		<% } %>
	</div>
</div>